extends layouts/main-layout

block append variables
  - pageID = 'manufacturing'

include mixins/table
include mixins/form-actions

block headTitle
    title MRP by deksden (#{pageID})

block bodyContent
  +erpTable('Manufacturing plan', manufacturing)
    thead.text-primary
      tr.col-md-8
        th.text-left Ready date
        th.text-left Process
        th.text-right Qnt
        th.text-center Actions
    tbody
      for mfg in manufacturing
        tr
          td.text-left #{ mfg.date }
          td.text-left
            a(href=`/erp/processes/${mfg.processId}`) #{mfg.processId}
          td.text-right #{ mfg.qnt }
          +formActions(`/erp/manufacturing/1.json`)
  // Modal
  #editModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Edit record:
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
            i.now-ui-icons.loader_gear.spin
            span='  Loading ...'
        .modal-footer
          button.btn.btn-primary(type='button') Save changes
          button.btn.btn-secondary(type='button' data-dismiss='modal') Close

block bodyJS
  script.
    const initDatetimePickerPlugin = function () {
      var dateInput = $(".datetimepicker");

      dateInput.parent().css("position", "relative");
      dateInput.datetimepicker({
        locale: 'ru',
        format: 'L',
        icons: {
          time: "fa fa-clock-o",
          date: "fa fa-calendar",
          up: "fa fa-chevron-up",
          down: "fa fa-chevron-down",
          previous: 'fa fa-chevron-left',
          next: 'fa fa-chevron-right',
          today: 'fa fa-screenshot',
          clear: 'fa fa-trash',
          close: 'fa fa-remove'
        }
      })
    }

    $('#btn-edit').click(function() {
      var url = $(this).data("url");
      $.ajax({
      url: url,
        dataType: 'json',
        success: function(data) {
          // update modal content here
          // you may want to format data or
          // update other modal elements here too
          var formBody = $('.modal-body')
          formBody.html(
            //'<div class="card">'+
            //'<div class="card-body">' +
            '<form><row><col>'+
            //'<div class=""form-row">'+
            '<div class=""form-group">'+
            '<label for="date">Date:</label>'+
            '<input id="date" placeholder="date" type="text" class="form-control datetimepicker" value="'+
              data.date+'"</input>'+
            '</div>'+//form-group
            '<p>'+data.qnt.toString()+'</p>'+
            '<p>'+data.process.name.toString()+'</p>'+
            '</col></row></form>'
            //'</div></div>'
          )
          // show modal
          //$('#myModal').modal('show');
          initDatetimePickerPlugin()

        },
        error: function(request, status, error) {

          $('.modal-body').html(
            '<h3>Error loading form data from server</h3>'+
            '<p> Request: '+request.toString()+'</p>'+
            '<p> Status: '+status.toString()+'</p>'+
            '<p> Error: '+error.toString()+'</p>'
          )
        }
      })
    })


