extends layouts/main-layout

block append variables
  - pageID = 'manufacturing'

include mixins/table
include mixins/form-actions

block headTitle
    title MRP by deksden (#{pageID})

block bodyContent
  +erpTable('Manufacturing plan', manufacturing)
    thead.text-primary
      tr.col-md-8
        th.text-left Ready date
        th.text-left Process
        th.text-right Qnt
        th.text-center Actions
    tbody
      for mfg in manufacturing
        tr
          td.text-left #{ mfg.date }
          td.text-left
            a(href=`/erp/processes/${mfg.processId}`) #{mfg.processId}
          td.text-right #{ mfg.qnt }
          +formActions()