extends layouts/main-layout

block append variables
  - pageID = 'manufacturing'

include mixins/table
include mixins/form-actions

block headTitle
    title MRP by deksden (#{pageID})

block bodyContent
  +erpTable('Manufacturing plan', manufacturing, '/erp/manufacturing/')
    thead.text-primary
      tr.col-md-8
        th.text-left Ready date
        th.text-left Process
        th.text-right Qnt
        th.text-center Actions
    tbody
      - let ndx=1
      for mfg in manufacturing
        tr
          td.text-left #{ mfg.date }
          td.text-left
            a(href=`/erp/processes/${mfg.processId}`) #{mfg.processId}
          td.text-right #{ mfg.qnt }
          +formActions(`/erp/manufacturing/${ndx++}.json`)
  // Modal for editing record:
  #editModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='EditModal' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        form#editForm
            .modal-header
              h5#editModalHeader.modal-title Edit record:
              button.close(type='button' data-dismiss='modal' aria-label='Close')
                span(aria-hidden='true') &times;
            .modal-body
                i.now-ui-icons.loader_gear.spin
                span='  Loading ...'
            .modal-footer
              button.btn.btn-primary#btn-save(type='button') Save changes
              button.btn.btn-secondary(type='button' data-dismiss='modal') Close
  // Modal for confirming remove record:
  #confirmRemoveModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='ConfirmRemoveModal' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5.modal-title Confirm removing record
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body
                p Are you sure you want to remove this record?
            .modal-footer
                button.btn.btn-danger#btn-do-remove(type='button') Remove
                button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel

block bodyJS
  script.
    const initDatetimePickerPlugin = function () {
      var dateInput = $(".datetimepicker");

      dateInput.parent().css("position", "relative");
      dateInput.datetimepicker({
        locale: 'ru',
        format: 'L',
        icons: {
          time: "fa fa-clock-o",
          date: "fa fa-calendar",
          up: "fa fa-chevron-up",
          down: "fa fa-chevron-down",
          previous: 'fa fa-chevron-left',
          next: 'fa fa-chevron-right',
          today: 'fa fa-screenshot',
          clear: 'fa fa-trash',
          close: 'fa fa-remove'
        }
      })
    }

    const initModal = function (container, aDate, aQnt, aProcess) {
      container.html(
        '<row><col>' +

        '<div class=""form-group">' +
        '<label for="date">Date:</label>' +
        '<input id="date" name="date" placeholder="date" type="text" class="form-control datetimepicker" value="' +
        aDate + '"</input>' +
        '</div>' +//form-group

        '<div class=""form-group">' +
        '<label for="date">Qnt:</label>' +
        '<input id="qnt" name="qnt" placeholder="Qnt" type="number" class="form-control" value="' +
        aQnt + '"</input>' +
        '</div>' +//form-group

        '<div class=""form-group">' +
        '<label for="date">Process ID:</label>' +
        '<input id="processId" name="processId" placeholder="processId" type="text" class="form-control" value="' +
        aProcess + '"</input>' +
        '</div>' +//form-group

        '</col></row>'
      )

    }

    $('#btn-new').click(function() {
      $('#btn-save').data('url', $(this).data("url")) // url for saving form (new record)

      $('#editModalHeader').text('Add new record')

      initModal($('.modal-body'), '', 0, '') // initial values
      initDatetimePickerPlugin()
    })

    $('.btn-erp-edit').click(function () {
      var url = $(this).data("url")
      $.ajax({
        url: url,
        dataType: 'json',
        success: function (data) {
          // set URL for save buttton (editing exact record):
          $('#btn-save').data('url', url)
          $('#editModalHeader').text('Edit record')

          initModal($('.modal-body'), data.date, data.qnt, data.processId)
          initDatetimePickerPlugin()
        },
        error: function (request, status, error) {
          $('.modal-body').html(
            '<h3>Error loading form data from server</h3>' +
            '<p> Request: ' + request.toString() + '</p>' +
            '<p> Status: ' + status.toString() + '</p>' +
            '<p> Error: ' + error.toString() + '</p>'
          )
        }
      })
    })

    $('#btn-save').click(function() {
      var url=$(this).data("url")
      $(this).addClass('disabled').text('Saving changes ...')
      $.ajax({
        url: url,
        contentType: 'application/json',
        dataType: 'json',
        type: 'POST',
        data: JSON.stringify($("#editForm").serializeJSON()),
        success: function(data) {
          $(this).removeClass('disabled').text('Save changes')
          $('#editModal').modal('hide')
          location.reload()
        },
        error: function (request, status, error) {
          $(this).removeClass('disabled').text('Changes not saved!')
          $('.modal-body').html(
            '<h3>Error loading form data from server</h3>' +
            '<p> Request: ' + request.toString() + '</p>' +
            '<p> Status: ' + status.toString() + '</p>' +
            '<p> Error: ' + error.toString() + '</p>'
          )
        }
      })
    })

    $('.btn-erp-remove').click(function () {
      console.log('remove show!')
      $('#btn-do-remove').data('url', $(this).data("url")).removeClass('disabled') // url for performing actual removal
      $('#confirmRemoveModal').modal('show')
    })

    $('#btn-do-remove').click(function () {
      var url = $(this).data("url")
      $(this).addClass('disabled').text('Removing ...')
      $.ajax({
        url: url,
        type: 'DELETE',
        success: function (data) {
          $(this).removeClass('disabled').text('Remove')
          $('#confirmRemoveModal').modal('hide')
          location.reload()
        },
        error: function () {
          $(this).removeClass('disabled').text('Removing failed!')
          $('.modal-body').html(
            '<h3>Error loading form data from server</h3>' +
            '<p> Request: ' + request.toString() + '</p>' +
            '<p> Status: ' + status.toString() + '</p>' +
            '<p> Error: ' + error.toString() + '</p>'
          )

        }
      })
    })




