extends layouts/main-layout

block append variables
    - pageID = 'orders'

include mixins/table

block headTitle
    title MRP by deksden (#{pageID})

block bodyContent
    +erpTable('Orders', orders)
        thead.text-primary
            tr.col-md-8
                th.text-left Res
                th.text-left Title
                th.text-center Date
                th.text-right ReqQnt
                th.text-right Qnt
                th.text-right Price
                th.text-right Value
        tbody
            for order in orders
                tr
                  //td #{ product.productId }
                  td
                    a(href=`/erp/resources/${order.resource.resourceId}`) #{order.resource.resourceId}
                  td #{ order.resource.title }
                  td.text-center #{ order.date.format('DD/MM/YYYY') }
                  td.text-right #{ order.reqQnt }
                  td.text-right #{ order.qnt }
                  td.text-right #{ order.price }
                  td.text-right #{ order.value }