extends layouts/main-layout

block append variables
    - pageID = 'products' // mark products as active page (no product item in nav)

block headTitle
    title MRP by deksden

mixin formField(caption, value)
    .row
        .col-md-2
            p.text-muted.text-right=caption
        .col-md-10
            p.text-left=value


block bodyContent
    .content
        .row
            .col-md-12
                .card
                    .card-header
                        h3 Product: #{product.name}(#{product.productId})
                    .card-body
                        +formField('ID:', product.productId)
                        +formField('Name:', product.name)
                        +formField('Unit:', product.unit)
                    .card-body
                        h6.text-muted Starting quantities:

                        +formField('At date:', product.startQnt.date)
                        +formField('Qnt:', product.startQnt.qnt)

                        if product.inProduction
                            .row
                                .col-md-6
                                    h3 In production:

                                    - let ndx=1
                                    table.table
                                        thead.text-primary
                                            tr
                                                td #
                                                td Ready date
                                                td Qnt
                                                td ProcessID
                                        tbody
                                            for prod in product.inProduction
                                                tr
                                                    td #{ndx++}
                                                    td #{prod.readyDate}
                                                    td #{prod.qnt}
                                                    td #{prod.processId}