extends layouts/main-layout

block append variables
  - pageID = 'products'

include mixins/table

block headTitle
    title MRP by deksden (#{pageID})

block bodyContent
  +erpTable('Products',products)
    thead.text-primary
      tr.col-md-8
        th.text-left ID
        th.text-center Name
        th.text-center Unit
    tbody
      for product in products
        tr
          //td #{ product.productId }
          td.text-left
            a(href=`/erp/products/${product.productId}`) #{product.productId}
          td.text-center #{ product.name }
          td.text-center #{ product.unit }