html
  head
    title ERP products
  body
    h1 Products
    table
      tr
        td ID
        td Name
        td Unit
      for product in products
        tr
          //td #{ product.productId }
          td
            a(href=`/erp/products/${product.productId}`) #{product.productId}
          td #{ product.name }
          td #{ product.unit }