html
  head
    title ERP products
  body
    h1 Product: #{product.name}(#{product.productId})

    p #{product.productId}
    p #{product.name}
    p #{product.unit}

    h3 StartQnt

    p #{product.startQnt.date} : #{product.startQnt.qnt}

    if product.inProduction
        h3 In transfer:

        - let ndx=1
        for prod in product.inProduction
            p #{ndx++} - #{prod.readyDate} : #{prod.qnt} (#{prod.processId})