html
  head
    title ERP resources
  body
    h1 Resources
    table
      tr
        td ID
        td Name
        td Unit
        td MinStock
        td MinOrder
        td OrderPeriod
        td DefPrice
        td Initial Date
        td Initial Qnt
        td Initial Price

      for resource in resources
        tr
          td
            a(href=`/erp/resources/${resource.resourceId}`) #{resource.resourceId}
          td #{ resource.title }
          td #{ resource.unit }
          td #{ resource.minStock }
          td #{ resource.minOrder }
          td #{ resource.orderPeriod }
          td #{ resource.defPrice }
          if resource.initialQnt
            td #{ resource.initialQnt.date }
            td #{ resource.initialQnt.qnt }
            td #{ resource.initialQnt.price }
        if resource.inTransfer
          table
            tr
              td dateArrival
              td qnt
              td price
            for transfer in resource.inTransfer
              tr
                td #{ transfer.dateArrival }
                td #{ transfer.qnt }
                td #{ transfer.price }